# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Unity Version Control / Plastic
.plastic/
ignore.conf

# IDE / Editor
.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db
